:root {
    --white-main: #ffffff;
    --grey-secondary: #c0c0c0;
    --blue-botton: #167bf6;    
    --background-color: #00030c; 
    --font-main: 'Inter';
}

body{
    background-color: var(--background-color);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__title {
    font-size: 0.7px;
    font-weight: 700;
}

.container__botton {
    background-color: var(--blue-botton);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    
}

.botton_secondary {
    background-color: transparent;
    border: 2px solid var(--white-main);
}

.container__notice {
    font-size: 0.3em;
    color: var(--grey-secondary);
    
}

.container__image {
    margin: 1em 0 2em 0;

}

.container__box {
    margin: 0 6em;

}

.container__secondary {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5em 5em;
    gap: 69px;

}


.secondary__image {
    width: 45%;
    display: flex;
    
}

.container__description {
    padding: 2em;
    width: 40%;
}

.description__title {
    font-weight: 700;
    font-size: 1.2em;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.description__text {
    color:var(--grey-secondary);
}

.second__botton{
    display: inline-block;
    margin-top: 1em;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices {
    text-align: center;
    margin: 8em 0;
}

.devices__title {
    font-size: 1.2em;
    color: var(--white-main);
}

.list__item{
    font-size: 0.8em;
    color: var(--white-main)
    
}
.footer{
    text-align: center;
    margin: 5em 3em;
}
.footer__logo{
    display: flex;
    justify-content: center;
    margin: auto;

}
.footer__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1em;
    
    
}

.list__link a{
    font-size: 0.8em;
   color: var(--white-main);
    text-decoration: none;
    font-weight: 400;
}

.list__link a:hover{
    color: var(--blue-botton);
}

.footer__text{
    font-size: 0.8em;
    text-align: center;
    color: var(--grey-secondary);
    margin: 1em 8em;
}